<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="IDao.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="pojo.SysPermission" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="permission_url" property="permissionUrl" jdbcType="VARCHAR" />
    <result column="permission_parent_id" property="permissionParentId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pojo.SysPermission" extends="BaseResultMap" >
    <result column="permission_detail" property="permissionDetail" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permission_id, permission_name, permission_url, permission_parent_id
  </sql>
  <sql id="Blob_Column_List" >
    permission_detail
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pojo.SysPermission" >
    insert into sys_permission (permission_id, permission_name, permission_url, 
      permission_parent_id, permission_detail
      )
    values (#{permissionId,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionUrl,jdbcType=VARCHAR}, 
      #{permissionParentId,jdbcType=INTEGER}, #{permissionDetail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.SysPermission" >
    insert into sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="permissionUrl != null" >
        permission_url,
      </if>
      <if test="permissionParentId != null" >
        permission_parent_id,
      </if>
      <if test="permissionDetail != null" >
        permission_detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionParentId != null" >
        #{permissionParentId,jdbcType=INTEGER},
      </if>
      <if test="permissionDetail != null" >
        #{permissionDetail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.SysPermission" >
    update sys_permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionUrl != null" >
        permission_url = #{permissionUrl,jdbcType=VARCHAR},
      </if>
      <if test="permissionParentId != null" >
        permission_parent_id = #{permissionParentId,jdbcType=INTEGER},
      </if>
      <if test="permissionDetail != null" >
        permission_detail = #{permissionDetail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="pojo.SysPermission" >
    update sys_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      permission_parent_id = #{permissionParentId,jdbcType=INTEGER},
      permission_detail = #{permissionDetail,jdbcType=LONGVARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.SysPermission" >
    update sys_permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_url = #{permissionUrl,jdbcType=VARCHAR},
      permission_parent_id = #{permissionParentId,jdbcType=INTEGER}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>